html, body {
    background-color: #1F4C8F;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

}

.geoBox1 {
    background-color: green;
    position: absolute;
    top: -200px;
    right: -400px;
    width: 100%;
    z-index: 1;
    height: 500px;
    opacity: .75;
    transform: translate(30px, 20px) rotate(55deg);
}

.geoBox2 {
    background-color: yellow;
    position: absolute;
    right: 0;
    width: 600px;
    height: 1800px;
    top: -350px;

    z-index: 2;
    opacity: .75;
    transform: translate(30px, 20px) rotate(65deg);
}

.geoBox3 {
    background-color: red;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
    z-index: 3;
    opacity: .75;
    left: -600px;
    bottom: -100px;
    transform: translate(30px, 20px) rotate(30deg);
}