html, body {
    background-color: #1F4C8F;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: -4;

}

.geoBox1 {
    position: absolute;
    top: -200px;
    right: -500px;
    width: 100%;
    z-index: -3;
    height: 600px;
    opacity: .95;
    transform: translate(30px, 20px) rotate(55deg);
}

.grad3 {
    background-image: linear-gradient(to right, #528360, #1F4C8F);
}

.grad2 {
    background-image: linear-gradient(to right, rgb(130, 164, 216), #1F4C8F);
}

.grad1 {
    background-image: linear-gradient(to top,#528360, white);
}

.geoBox2 {
    position: absolute;
    right: 0;
    width: 600px;
    height: 1800px;
    top: -350px;
    z-index: -2;
    opacity: .98;
    transform: translate(30px, 20px) rotate(65deg);
}

.geoBox3 {

    background-color: #528360;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
    z-index: -1;
    left: -600px;
    bottom: -100px;
    transform: translate(30px, 20px) rotate(30deg);
}

#vg-painting {
    width: 500px;
    margin-top: 15vh;
}