body {
  background-color: #CDAB63;
}

#wrapper {
  margin-top: 6%;
}

.card-content {
  background: #A9A8BD;
  color: #395A7A;
}

#info-back {
  margin:20px;

}

/* #info-back .card {
  justify-self: flex-end;
  align-self: stretch;
} */

h3 {
  color: #03648B;
}

h2 {
  color: #528360;
}

h5 {
  color: #03648B;
}

.modal-content {
  color: #03648B;
}

/* CARD FLIP ANIMATION */
.flip-card {
  position: relative;
  width: 380px;
  height: 437px;
  float: left;
  perspective: 700px;
}

.flip-content {
  position: relative;
  width: 380px;
  height: 437px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.flip-front,
.flip-back {
  position: absolute;
  background: #03446A;
  color: white;
  text-align: center;
  /* border-radius: 5px; */
  backface-visibility: hidden;
}

.flip-back {
  background: #03446A;
  width: 380px;
  height: 437px;
  color: white;
  transform: rotateY( 180deg );
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}