body {
  background-color: #CDAB63;
}

#wrapper {
  margin-top: 6%;
}

.card-content {
  background: #A9A8BD;
  color: #395A7A;
}

h3 {
  color: #03648B;
}

h2 {
  color: #528360;
}

h5 {
  color: #03648B;
}
